// var current = "<%= @current.id %>";
// $("#<%= @song.title.parameterize %>").slideUp();
// $("#source").attr("src", "<%= @current.file %>");
// $("#player")[0].load(); $("#player")[0].play();
// setTimeout(function(){
//   $("#<%= @current.title.parameterize %>")
//   .append('<span class="label label-primary">Now Playing</span>');
// }, 1000);
